// ----- Fonts ----- //

// @import url("https://use.typekit.net/nhk0eei.css");
// @import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Roboto+Slab:300,400');

// Font Mixins //

$text-content-serif: "Roboto Slab", "Times New Roman", serif;
$text-content-sans--serif: "Open Sans", "Arial", sans-serif;

$text-weight-light: 300;
$text-weight-regular: 400;
$text-weight-bold: 700;

$text-style: "regular";
$text-style: "italic";

// Typography //

html {
  font-size: 16px;
}

body, %body {
  font-size: 100%;
  color: $text-color-paragraph;
  font-family: $text-content-sans--serif;
  line-height: 1.6;
  font-weight: $text-weight-light;
  @include to(small) {
    font-size: 87.5%;
  }
  @include to(medium) {
    font-size: 93.5%;
  }
}

h1, h2, h3, h4, h5, p, strong {
  margin: 0;
}

h1, %h1  {
  color: $text-color-primary;
  font-family: $text-content-serif;
  font-size: rem(38);
  font-weight: $text-weight-bold;
  line-height: 1;
}
h2, %h2  {
  color: $text-color-primary;
  font-family: $text-content-serif;
  font-size: rem(32);
  font-weight: $text-weight-regular;
  margin-bottom: rem(20);
  line-height: 1.2;
}
h3, %h3  {
  color: $text-color-primary;
  font-family: $text-content-serif;
  font-size: rem(26);
  font-weight: $text-weight-regular;
  line-height: 1.2;
  margin: 0 0 rem(14);
  strong {
    letter-spacing: 0rem;
  }
}
h4, %h4  {
  color: $gray-dark;
  font-family: $text-content-serif;
  font-size: rem(21);
  font-weight: $text-weight-regular;
  margin: rem(12) 0 0;
}
h5, %h5  {
  color: $gray;
  font-family: $text-content-serif;
  font-size: rem(16);
  font-weight: $text-weight-regular;
  margin: rem(8) 0 0;
}
p {
  margin-bottom: 1rem;
}
strong {
  font-weight: $text-weight-bold;
}
ul {
  margin: 0 0 1rem rem(15);
}
