// ----- Book Navigation ----- //

.book-navigation {
  width: 100%;
  .page-links {
    background-color: $white;
    height: 105px;
  }
}

// ----- Responsive ----- //

@media (max-width: 575px) {

}

@media (min-width: 576px) {

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}
