// ----- Links (External) ----- //

span.ext {
  background: url(../images/extlink_s.png) 2px center no-repeat;
  width: 10px;
  height: 10px;
  padding-right: 12px;
  text-decoration: none;
}
span.mailto {
  background: url(../images/extlink_s.png) -20px center no-repeat;
  width: 10px;
  height: 10px;
  padding-right: 12px;
  text-decoration: none;
}

/* Hide the extra spans when printing. */
@media print {
  span.ext, span.mailto {
    display: none;
    padding: 0;
  }
}

// Link External
//
// Markup: link-external.html
//
// Styleguide components.link-external
.link-external__icon, %link-external__icon {
  content: url('../images/icon-external.png');
  vertical-align: baseline;
  display: inline-block;
  padding-left: .25rem;
  height: 15px;
  width: 15px;
}
%link-internal__icon {
  content: url('../images/arrow-right-1.svg');
  vertical-align: middle;
  display: inline-block;
  padding-left: .25rem;
  height: auto;
  width: 1.25rem;
}
.link-external, %link-external {
  &:after {
    @extend %link-external__icon;
  }
}

.external-link-popup {
  position: relative;
  background: white;
  width: auto;
  max-width: 480px;
  margin: 20px auto;
  h2 {
    background-color: $orange;
    padding: 20px;
    margin-bottom: 0;
    color: white;
  }
  .external-link-popup__content {
    padding: 20px;
    ul {
      padding: 0;
      li {
        list-style: none;
        display: inline-block;
        a {
          border-bottom: none;
          font-size: 1.25rem;
          &#external-link-action-cancel {
            color: $blue-darkest;
            margin-right: 30px;
          }
          &#external-link-action-continue {
            font-weight: bold;
            &:after {
              content: url('../images/arrow.svg');
              vertical-align: baseline;
              display: inline-block;
              padding-left: .25rem;
              height: 15px;
              width: 20px;
            }
          }
        }
      }
    }
  }
  .mfp-close {
    display: none;
    visibility: hidden;
  }
}

/* Media fixes */
img[title^="application/"],
img[alt="PDF icon"] {
  margin-right: 0.4em;
  display: inline-block;
}
span.file-size {
  display: none;
}

//More link.
.more-link {
  a {
    line-height: 1;
    &:after {
      transition: .2s ease all;
      @extend %link-internal__icon;
      transform: translateX(0);
      -ms-transform: translateX(0);
    }
    &:hover {
      &:after {
        transform: translateX(5px);
      }
    }
  }
}
