/*
 * Readspeak button (Listen)
 */
#block-bean-readspeaker-button {
  position: absolute;
  top: 10px;
  right: 175px; // restore this when block language is enabled again
  right: 30px;
  z-index: 100;
  top: 12px;
  @include to(medium) {
    display: none;
  }
  @include between(large, xlarge) {
    right: 345px; // restore this when block language is enabled again
    right: 205px;
  }

  .rsbtn {
    // prevents listen button from blocking links
    z-index: auto !important;

    a.rsbtn_play {
      border: none !important;
    }
  }
}
