.node-type-stakeholder-material,
.page-for-healthcare-professionals-stakeholder-materials {
  .views-exposed-form .views-exposed-widget {
    #edit-reset,
    #edit-submit-stakeholder-materials-listing,
    #edit-submit-stakeholder-view {
      padding: 10px 40px 10px 30px;
      margin-top: 33px;
      white-space: nowrap;
      font-size: 14px;
    }
  }

  #edit-field-material-category-tid,
  #edit-field-type-tid {
    border: 1px solid $blue-darkest;
    font-size: 0.8rem;
    padding: 3px 5px;
    font-family: $text-content-sans--serif;
    background: transparent;
  }

  .view-content .views-table {
    table,
    td,
    th,
    tr {
      border: none;
      border-bottom: 1px solid $gray-lighter;
    }

    th.views-field-field-thumbnail {
      min-width: 120px;
    }

    td {
      padding-bottom: 3rem;

      a {
        color: $blue;
        font-weight: $text-weight-bold;
        word-break: normal;
      }
    }

    tr.odd {
      background-color: $white;
    }

    thead {
      background-color: $gray-lighter;

      a {
        color: $gray-darkest;
      }
    }
  }

  .group-left {
    width: 30%;
    margin-right: 5%;
  }

  .group-right {
    width: 65%;

    .field-name-title {
      border-bottom: none;
    }
  }
}

.view-stakeholder-materials-listing .view-listing-unformatted {
  .views-row {
    padding-top: 25px !important;

    .node-stakeholder-material {
      .field-name-node-link a {
        font-weight: bold;
      }
    }
  }
}

.node-type-stakeholder-material {
  #main #content {
    width: 100%;
  }

  td.views-field-filename {
    word-break: break-word;
  }
}
